
<%= simple_form_for(@trading) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date, as: :date, order: [:day, :month, :year], end_year: Date.today.year %>
    <%= f.input :value, as: :float %>
    <%= f.input :amount, as: :integer %>
    <%= f.input :kind, as: :select, collection: kind_enum, selected: 0 %>
    <%# f.input :stock %>
    <%# f.association :user %>
    <%# f.association :wallet %>
    <%= f.association :stock, label_method: :code %>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit %>
  </div>
<% end %>
