<p style="color: green"><%= notice %></p>

<%= render @trading %>

<div>
  <%= link_to "Edit this trading", edit_trading_path(@trading) %> |
  <%= link_to "Back to tradings", tradings_path %>

  <%= button_to "Destroy this trading", @trading, method: :delete %>
</div>
