<div class="d-flex align-items-center justify-content-between pe-4">
  <h1><%= t(:wallet, scope: 'activerecord.models').pluralize %></h1>
</div>

<%= search_form_for @search, url: wallets_path do |f| %>
  <div class="row mt-2 mb-3">
    <div class="col">
      <%= f.search_field :stock_code_cont, class: 'form-control', placeholder: Trading.human_attribute_name("stock") %>
    </div>

    <div class="col">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<table class="table table-responsive table-striped table-hover" id="tradings">
  <thead>
  <tr>
    <th scope="col"><%= sort_link @search, :stock_code, Trading.human_attribute_name("stock"), class: "text-black" %></th>
    <th scope="col"><%= Trading.human_attribute_name("value") %></th>
    <th scope="col"><%= Trading.human_attribute_name("amount") %></th>
    <th scope="col" colspan="3">#</th>
  </tr>
  </thead>
  <tbody>
    <% @grouped_tradings.each do |group| %>
      <tr>
        <th><%= group[:stock] %></th>
        <th><%= number_to_currency(group[:average_price]) %></th>
        <th><%= group[:amount] %></th>
        <th>
          <%# link_to wallets_stock_tradings_path(group[:stock_id]), data: { turbo: true, "turbo-frame": 'remote_modal' } %>
          <%= link_to '#', data: { turbo: true, "turbo-frame": 'remote_modal' } do %>
            <i class="bi bi-eye-slash-fill"></i>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
