<div id="<%= dom_id proceed %>">
  <p>
    <strong>Date:</strong>
    <%= proceed.date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= proceed.value %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= proceed.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= proceed.user_id %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= proceed.stock_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= proceed.kind %>
  </p>

</div>
